.jumbotron {
	position: relative;
	background: transparent url(layout.jpg) center right no-repeat;
	color: #eee;
}
@media screen and (min-width: 768px) {
	.jumbotron {
		height: 239px;
		background-size: cover;
	}
}
@media screen and (max-width: 767px) {
	.jumbotron:after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba(0, 0, 0, .3);
	}

	.jumbotron h1, .jumbotron p {
		position: relative;
		z-index: 1;
	}
}

.jumbotron h1 {
	color: white;
}

#content section {
	padding-top: 2em;
	padding-bottom: 2em;
}

#languages, #hobbies {
	background: #e5e5e5;
}

#footer {
	padding: 70px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #eee;
}

.dl-horizontal dt,
.dl-horizontal dd {
	margin-top: 10px;
}
.dl-horizontal dt:first-child {
	margin-top: 0;
}

.icon {
	position: relative;
	top: -2px;
}

