* {
    box-sizing: border-box;
}

strong {
    font-weight: 400;
}

.header-panel {
	background: transparent url(layout.jpg) center right no-repeat;
    height: 193px;
    position: relative;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.menu {
    overflow: auto;
    padding: 0;
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.pages {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    padding: 0;
    overflow: auto;
}

.pages > div {
    padding: 0 5px;
    padding-top: 100px;
    margin: 0;
}

.pages .header {
    color: rgb(82, 101, 162);
}

.page {
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
    margin-left: 1em;
}

.page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.more {
    text-align: right;
}

.icon {
    width: 1em;
    height: 1em;
}
