* {
    box-sizing: border-box;
}

strong {
    font-weight: 400;
}

.header-panel {
	background: transparent url(layout.jpg) center right no-repeat;
    height: 193px;
    position: relative;
    z-index: 3;
}

.header-panel div {
    position: relative;
    height: 100%;
}

.header-panel h1 {
    color: #FFF;
    position: absolute;
    bottom: 10px;
    padding-left: 35px;
}

.main {
    position: relative;
}

.menu {
    overflow: auto;
    padding: 0;
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    margin: 7px 0;
}

.menu ul li {
    list-style: none;
    padding: 20px 0 20px 50px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

.pages {
    position: relative;
    top: -92px;
    z-index: 4;
    padding: 0 5% 20px;
    overflow: auto;
}

.header {
    color: rgb(82, 101, 162);
}

body .pages .page {
    margin: 0 1em 0 1em;
    transform: translateY(1080px);
    transition: transform 0 linear;
    display: none;
    opacity: 0;
    font-size: 16px;
}

body .pages .page.active {
    transform: translateY(0px);
    transition: all 0.3s ease-out;
    display: block;
    opacity: 1;
}

.more {
    text-align: right;
}

.icon {
    width: 1em;
    height: 1em;
}

@media(max-width: 767px) {
    .header-panel .col-xs-3 {
        width: 100%;
    }
    .header-panel h1 {
        top: 0;
        margin-top: 50px;
        margin-left: 22px;
    }
    .menu {
        position: absolute;
        top: -92px;
        z-index: 10;
        margin: 0;
        padding: 0 5%;
        width: 100%;
    }
    .menu ul {
        margin: 0;
        padding: 0 25px;
    }
    .menu ul li {
        float: left;
        padding: 15px 20px 10px;
        text-transform: uppercase;
        font-size: .9em;
        border-bottom: 2px solid transparent;
    }
    .menu ul li.active {
        background: transparent;
        border-bottom-color: green;
    }
    .pages {
        width: 100%;
    }
    body .pages .page {
        padding-top: 50px;
    }
    .page .header {
        display: none;
    }
}

@media(max-width: 640px) {
    body {
        background-color: white;
    }
    .header-panel h1 {
        margin-left: 0;
        padding-left: 0;
    }
    .menu {
        margin-left: 0;
        padding-left: 0;
    }
    .menu ul {
        padding: 0 15px;
    }
    .menu ul li {
        padding: 15px 10px 10px;
    }
    .pages {
        padding: 0;
    }
    body .pages .page {
        margin: 0;
    }
}
