---
layout: layout
description: "Ich entwickle seit über 20 Jahren Software mit Java/Kotlin und JavaScript/TypeScript. Mich interessieren besonders Software Startups, eCommerce, agile Methoden, Software-Qualität, DevOps und Skalierung."
language: de
---
<main class="main">
  <h2>Arbeitserfahrung</h2>
  <div>
    <div>
      <h3>
          Lead Software Engineer <small>bei</small> Nortal
          <small>(ehem. Schütze AG)</small>
      </h3>
      <p>
        <small>Oktober 2018 – jetzt in Hanau</small>
      </p>
      <p>
          Senior-Architekt und Lead Developer in einer Gruppe von
          crossfunktionalen Teams mit insgesamt ca. 60 Personen.
          Entwicklung einer Verwaltungssoftware für das Land Berlin.
        </p>
      <p>
          Ich habe die Niederlassung Rhein-Main gegründed und rekrutiere
          zur Zeit neue Mitarbeiterinnen und Mitarbeiter.
        </p>
      <p>
        <small>
            Kotlin, Spring, React, GraphQL, Docker, Kubernetes,
            Microservices, Node.js, Electron
          </small>
      </p>
    </div>
    <div>
      <h3>Lead Software Engineer <small>bei</small> ChemSquare</h3>
      <p>
        <small>Juni 2018 – August 2018 in Frankfurt am Main</small>
      </p>
      <p>
          Lead-Developer in einem Start-Up für die Entwicklung eines
          <strong>Online-Marktplatzes für Chemikalien</strong>.
        </p>
      <p>
        <small>
            AWS AppSync, AWS Lambda, GraphQL, Gatsby, React, Algolia
          </small>
      </p>
    </div>
    <div>
      <h3>Senior Software Consultant <small>bei</small> PENTASYS</h3>
      <p>
        <small>Oktober 2017 – Mai 2018 in Frankfurt am Main</small>
      </p>
      <p>
          Senior Front-End Developer für die Buchungsplattform des größten
          Reise-Dienstleisters Europas mit über 200k aktiven Benutzern.
          Mitentwicklung des internen Angular-Frameworks für über 100
          Entwickler.
        </p>
      <p>
        <small>Angular, TypeScript, Bootstrap</small>
      </p>
    </div>
    <div>
      <h3>Senior Software Engineer <small>bei</small> bd4travel</h3>
      <p>
        <small>Dezember 2014 – Oktober 2017 in Frankfurt am Main</small>
      </p>
      <p>
        <strong>Intelligente Personalisierung für Reiseportale.</strong>
          Ein preisgekröntes Start-Up, das Reiseportale auf der ganzen
          Welt mit Analysen des Benutzerverhaltens, persönlichen
          Empfehlungen, Sortier-Algorithmen und Vorhersage-Werkzeugen
          versorgt.
        </p>
      <p>
          Mitglied eines agilen Entwicklungsteams mit geteilter
          Verantwortlichkeit für alle Aspekte der Produktentwicklung:
          Anforderungsanalyse, emergente Architektur, Datenbanken,
          Backend- und Frontend-Entwicklung, Machine Learning,
          Qualitätssicherung, DevOps, Skalierung und Wartung.
        </p>
      <p>
        <small>
            Java, JavaScript, node.js, ElasticSearch, Hadoop, HBase,
            Spark, RabbitMQ, MongoDB, AngularJS, Swagger, Docker
          </small>
      </p>
    </div>
    <div>
      <h3>Head of Development <small>bei</small> yocondo</h3>
      <p>
        <small
            >Dezember 2013 – November 2014 in Düsseldorf and
            Gründau</small
          >
      </p>
      <p>
          Gründungsmitglied eines Start-Ups für die Entwicklung eines
          <strong>personalisierten Shopping-Assistenten.</strong>
      </p>
      <p>Architekt, Software-Engineer, SCRUM Master</p>
      <p>
        <small>
            node.js, CoffeeScript, RabbitMQ, ElasticSearch, WebSockets,
            MongoDB, AngularJS, Java, Spring Batch, Spring Integration,
            Tomcat.
          </small>
      </p>
      <p>
        <small>
            Deployment in die Cloud mit Vagrant, Puppet, AppFog, Heroku,
            AWS und Azure.
          </small>
      </p>
    </div>
    <div>
      <h3>
          Senior Consultant <small>bei</small> OPITZ Consulting
          Deutschland
        </h3>
      <p>
        <small
            >Juni 2011 – Juni 2014 in Berlin und Bad Homburg v.d.H.</small
          >
      </p>
      <p>
          Consultant und Software-Engineer für die zentrale
          Unternehmenssoftware der TNT Innight GmbH (Logistik) mit Eclipse
          RCP und einem Spring-Backend.
        </p>
      <p>
          Entwicklung von Fachanwendungen für Kombiverkehr (Logistik).
        </p>
      <p>
          Mitglied des Competence Center Agile Development: Replikator für
          agile Prinzipien, Organisation von Agile Retreats und Coding
          Dojos.
        </p>
      <p>
        <small>
            Spring, JPA, Hibernate, MyBatis, Oracle Database, Eclipse RCP,
            OSGi, Activiti, BPMN, Maven, Git
          </small>
      </p>
    </div>
    <div>
      <h3>
          Senior Software Engineer <small>bei</small> Schütze Consulting
        </h3>
      <p>
        <small>Juli 2009 – Mai 2011 in Berlin</small>
      </p>
      <p>
          Design, Architektur und Entwicklung einer Verwaltungs-Software
          für die Berliner Regierung mit JavaEE. Ca. 800 Anwender,
          Projektumfang ca. 8000 PT.
        </p>
      <p>Beratung für das Berliner IT-Service-Center.</p>
      <p>
        <small>
            JPA, TopLink, Hibernate, Oracle Database, PostgreSQL, Oracle
            AS, JBoss, Spring, Spring Integration, Spring Batch, Spring
            WebFlow, Spring Security, Eclipse, Maven, Ant, CVS, SVN
          </small>
      </p>
    </div>
    <div>
      <h3>Senior Software Engineer <small>bei</small> ]init[</h3>
      <p>
        <small>Oktober 2007 – Juni 2009 in Berlin</small>
      </p>
      <p>
          Konzept und Entwicklung einer SOA-Plattform für die G2C- und
          G2G-Kommunikation in Abu Dhabi. Single-Sign-on und
          Identity-Management.
        </p>
      <p>
          Anforderungsanalyse und technisches Projektmanagement für ein
          Soziales Netzwerk und eine Stellenbörse für das deutsche
          Auswärtige Amt.
        </p>
      <p>
          Technische Beratung bei der Entwicklung von XMeld, dem
          standardisierten XML-Austauschformat für deutsche Meldebehörden.
        </p>
      <p>
        <small>
            BEA WebLogic, BEA AquaLogic, BEA Portal, Spring, Beehive,
            EJB3, Spring MVC, Hibernate, PostgreSQL, JBoss.
          </small>
      </p>
    </div>
    <div>
      <h3>Software Engineer <small>bei</small> Schütze Consulting</h3>
      <p>
        <small>Januar 2004 – Oktober 2007 in Berlin</small>
      </p>
      <p>
          Entwicklung JavaEE-basierter Web-Anwendungen für die Berliner
          Verwaltung.
        </p>
      <p>
          Verantwortlich für Release-Management, Continuous Integration
          und Qualitätssicherung.
        </p>
      <p>
        <small>
            Struts, AJAX, Oracle Application Server, JBoss, Spring, EJB2,
            Oracle DB, Toplink, PostgreSQL, Hibernate, Jasper Reports.
          </small>
      </p>
    </div>
  </div>
</main>
<aside class="aside">
  <div>
    <h2>Kurzprofil</h2>
    <p>
        Ich entwickle seit über 20 Jahren Software mit Java/Kotlin und
        JavaScript/TypeScript. Mich interessieren besonders Software
        Startups, eCommerce, agile Methoden, Software-Qualität, DevOps und
        Skalierung.
      </p>
    <h2>Ausbildung</h2>
    <p>
        Ich bin in Lörrach aufgewachsen und habe Information Technology
        and Electrical Engineering an der ETH Zürich studiert, wo ich mit
        einem Bachelor of Science (ETH) mit der Note 5.11 (von 6)
        abgeschlossen habe.
      </p>
    <h2>Technologien</h2>
    <p>JavaScript (Node.js), TypeScript, Kotlin, Java</p>
    <p>
        Spring Framework: Boot, WebMVC, Data, Integration, Security, Batch
      </p>
    <p>HTTP, REST, GraphQL</p>
    <p>WebSockets, AMQP</p>
    <p>
        React, Redux, Vue, Svelte, Progressive Web Apps, Single Page Apps
      </p>
    <p>
        MongoDB, ElasticSearch, SQL, Firebase, Aerospike, Hadoop, HBase,
        Spark, DynamoDB
      </p>
    <p>AWS, Docker, Kubernetes, Microservices, Serverless Computing</p>
    <h2>Hobbies</h2>
    <p>
        Ich organisiere die Meetups
        <a href="https://main-kinzig-nerds.de">Main-Kinzig-Nerds</a> und
        <a href="https://www.meetup.com/React-Meetup-Frankfurt/"
          >React Frankfurt &amp; Rhein-Main</a
        >.
      </p>
    <p>
        Ich spiele Ultimate Frisbee für
        <a
          href="http://www.eintracht-frankfurt.de/sportarten/ultimate-frisbee.html"
          >Eintracht Frankfurt</a
        >.
      </p>
    <p>
        Ich bin aktives Mitglied der
        <a href="http://feuerwehr-niedergründau.de/"
          >freiwilligen Feuerwehr</a
        >.
      </p>
    <p>Ich leite den Jugendchor unserer Kirchengemeinde.</p>
    <p>
        Ich habe in diversen Bands Klavier und Bass gespielt, von
        <a href="https://soundcloud.com/szanaterria">Metal</a> bis Jazz.
      </p>
    <h2>Sprachen</h2>
    <p>Deutsch: Muttersprache<br/>Englisch: fließend</p>
    <h2>Nebenprojekte</h2>
    <p>
      <strong>
        <a href="https://rescuetablet.de/">rescueTABLET</a>
      </strong>
      <br/>
        Mobile Anwendung für Rettungskräfte der Feuerwehr:
        Einsatzinformationen, Kartenmaterial, Hydrantenpläne,
        Rettungskarten und mehr. Die Anwendung ist als App für Android und
        iOS sowie als Progressive Web App verfügbar. Bei mehr als 300
        Feuerwehren in Deutschland im Einsatz.
        <br/>
      <em> React, Ionic, Capacitor, PWA, AWS. </em>
    </p>
    <p>
      <strong
          >
        <a href="https://github.com/phjardas/tabidisco"
            >Tabidisco</a
          >
      </strong
        ><br/>Eine Stereoanlage für Kinder mit Raspberry Pi.<br/>
      <em
          >Raspberry Pi, Elektronik, Holz, reactive Server mit WebSockets
          und RxJs, Frontend mit React und Redux.</em
        >
    </p>
    <p>
      <strong
          >
        <a href="https://github.com/phjardas/serious-retro/"
            >Serious Retrospective</a
          >
      </strong
        ><br/>Online-Tool für Retrospektiven verteilter Teams.<br/>
      <em
          >Firebase, React, Redux, progressive web app.</em
        >
    </p>
    <p>
      <strong
          >
        <a href="https://github.com/phjardas/drivr/">drivr</a>
      </strong
        ><br/>Web app zur Erfassung von Tank-Belegen.<br/>
      <em
          >Firebase, Vue, Vuex, progressive web app.</em
        >
    </p>
    <p>
      <strong
          >
        <a href="https://github.com/phjardas/synchrotron/"
            >synchrotron</a
          >
      </strong
        ><br/>Synchronisierungs-Tool für Musik unter Linux.<br/>
      <em
          >TypeScript.</em
        >
    </p>
    <p>
      <strong
          >
        <a href="https://github.com/phjardas/swarm-traefik-demo"
            >swarm-traefik-demo</a
          >
      </strong
        ><br/>Demonstration eines Cluster-Deployments mit Docker Swarm
        Mode und Træfɪk.<br/>
      <em>Docker natürlich.</em>
    </p>
    <p>
      <em
          >Dies ist eine Auswahl meiner Nebenprojekte auf
          <a href="https://github.com/phjardas">GitHub</a>.</em
        >
    </p>
  </div>
</aside>