---
layout: layout
description: "Ich entwickle seit über 20 Jahren Software mit Java/Kotlin und JavaScript/TypeScript. Mich interessieren besonders Software Startups, eCommerce, agile Methoden, Software-Qualität, DevOps und Skalierung."
language: de
---
<aside class="aside">
  <div>
    <h2>Kurzprofil</h2>
    <p>
      Ich entwickle seit über 20 Jahren Software mit Java/Kotlin und
      JavaScript/TypeScript, von <i>on-premises</i> bis <i>cloud-native</i>.
      Mich begeistern Design Thinking, Startup-Kultur, agile Methoden, DevOps und Skalierung.
    </p>

    <h2>Ausbildung</h2>
    <p>
      Ich bin in Lörrach aufgewachsen und habe Information Technology
      and Electrical Engineering an der ETH Zürich studiert, wo ich mit
      einem Bachelor of Science (ETH) mit der Note 5.11 (von 6)
      abgeschlossen habe.
    </p>

    <h2>Technologien</h2>
    <p>JavaScript (Node.js), TypeScript, Kotlin, Java</p>
    <p>Spring Framework: Boot, WebMVC, Data, Integration, Security, Batch</p>
    <p>HTTP, REST, GraphQL</p>
    <p>WebSockets, AMQP</p>
    <p>React, Vue, Svelte, Progressive Web Apps, Single Page Apps</p>
    <p>MongoDB, ElasticSearch, SQL, Firebase, DynamoDB</p>
    <p>AWS, Docker, Kubernetes, Microservices, Serverless Computing</p>

    <h2>Hobbies</h2>
    <p>
      Ich organisiere die Meetups
      <a href="https://main-kinzig-nerds.de">Main-Kinzig-Nerds</a> und
      <a href="https://www.meetup.com/React-Meetup-Frankfurt/">React Frankfurt &amp; Rhein-Main</a
      >.
    </p>
    <p>
      Ich spiele Ultimate Frisbee für
      <a
        href="http://www.eintracht-frankfurt.de/sportarten/ultimate-frisbee.html"
        >Eintracht Frankfurt</a
      >.
    </p>
    <p>Ich bin aktives Mitglied der freiwilligen Feuerwehr.</p>
    <p>
      Ich habe in diversen Bands Bass und Keyboards gespielt, von
      <a href="https://soundcloud.com/szanaterria">Metal</a> bis Jazz.
    </p>

    <h2>Sprachen</h2>
    <p>Deutsch: Muttersprache<br/>Englisch: fließend</p>
  </div>
</aside>