---
layout: layout
description: "I've been developing software with Java/Kotlin and JavaScript/TypeScript for the last 20 years. I'm passionate about software startups, eCommerce, agile methodologies, software quality, devops and scalability."
language: en
---
<aside class="aside">
  <div>
    <h2>Profile</h2>
    <p>
      I've been developing software with Java/Kotlin and
      JavaScript/TypeScript for the last 20 years. I'm passionate
      about software startups, eCommerce, agile methodologies,
      software quality, devops and scalability.
    </p>
    <h2>Education</h2>
    <p>
      I grew up in Lörrach and have studied Information Technology and
      Electrical Engineering in Zürich, where I graduated as a
      Bachelor of Science (ETH) with a grade of 5.11 out of 6.
    </p>

    <h2>Technologies</h2>
    <p>JavaScript (Node.js), TypeScript, Kotlin, Java</p>
    <p>Spring Framework: Boot, WebMVC, Data, Integration, Security, Batch</p>
    <p>HTTP, REST, GraphQL</p>
    <p>WebSockets, AMQP</p>
    <p>React, Vue, Svelte, Progressive Web Apps, Single Page Apps</p>
    <p>MongoDB, ElasticSearch, SQL, Firebase, DynamoDB</p>
    <p>AWS, Docker, Kubernetes, Microservices, Serverless Computing</p>

    <h2>Hobbies</h2>
    <p>
      I host the meetups
      <a href="https://main-kinzig-nerds.de">Main-Kinzig-Nerds</a> and
      <a href="https://www.meetup.com/React-Meetup-Frankfurt/"
        >React Frankfurt &amp; Rhein-Main</a
      >.
    </p>
    <p>
      I play Ultimate Frisbee with
      <a
        href="http://www.eintracht-frankfurt.de/sportarten/ultimate-frisbee.html"
        >Eintracht Frankfurt</a
      >.
    </p>
    <p>
      I'm a volunteer firefighter.
    </p>
    <p>
      I have been playing the piano and the bass in several bands from
      <a href="https://soundcloud.com/szanaterria">metal</a> to jazz.
    </p>

    <h2>Languages</h2>
    <p>German: native<br/>English: fluently</p>
  </div>
</aside>