body {
	background: white;
	color: black;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 11pt/16pt;
	font-weight: normal;
	padding-top: 0;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-weight: 400;
	color: black;
}

h2 {
	margin-top: 1em;
	padding-top: .5em;
	border-top: 1px solid #ccc;
}

.header-panel {
	background: none;
	height: auto;
}

.header-panel div {
	height: auto;
}

.row {
	margin: 0;
	height: auto;
}

.col-xs-4 {
	width: 100%;
	float: none;
	margin: 0;
	padding: 0;
}

.header-panel .col-xs-3 {
	width: 100%;
	height: auto;
	float: none;
}

.header-panel h1 {
	color: black;
	position: relative;
	top: 0;
	bottom: 0;
	padding: 0;
}

.container-fluid {
	padding: 0;
	margin: 0;
}

.pages {
	position: relative;
	width: 100%;
	margin: 0
	padding: 0;
}

.pages .col-xs-10 {
	width: 100%;
	float: none;
	margin: 0;
}

.pages > div {
	position: relative;
    padding: 0;
    margin: 0;
}

.pages .header {
	color: black;
}

.page {
	display: block;
	transform: none;
	opacity: 1;
}

body .page.well {
	border: none;
	box-shadow: none;
	margin: 0;
	padding: 0;
}

.more, hr, .menu, .noprint {
	display: none;
}

strong {
	font-weight: normal;
}

a, p, body .container-fluid .well p {
	color: black;
	font-weight: normal;
}
