@import '~normalize-scss/sass/normalize/import-now';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

$golden-ratio: 1.61803398875;
$page-radius: 8px;

body {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: #bdbdbd;
  color: #212121;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 300;
  color: #616161;
}

.page {
  margin: 50px auto;
  width: 1200px;
  background: white;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: $page-radius;
}

.page-header {
  background: #512da8;
  background: linear-gradient(
    135deg,
    #512da8 0%,
    #6236c9 50%,
    #512da8 50%,
    #512da8 100%
  );
  color: #fff;
  padding: 80px 0;
  position: relative;
  border-top-left-radius: $page-radius;
  border-top-right-radius: $page-radius;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.title {
  margin: 0;
  font-size: 3em;
  text-transform: uppercase;
  color: white;
}

.subtitle {
  font-weight: 300;
  color: #ccc;
  margin-top: 10px;
  font-size: 1.5em;
}

.qr {
  width: 100px;
  height: 100px;
  display: none;

  path {
    fill: #999;
  }
}

@mixin floatingActionShadow($vertical) {
  box-shadow: 0 0 $vertical rgba(0, 0, 0, 0.14),
    0 $vertical $vertical * 2 rgba(0, 0, 0, 0.28);
}

.floating-action {
  font-size: 24px;
  border-radius: 100%;
  background: #7c4dff;
  color: #fff;
  text-align: center;
  width: 56px;
  height: 41px;
  padding-top: 15px;
  @include floatingActionShadow(4px);
  z-index: 100;
  position: absolute;
  bottom: -28px;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    @include floatingActionShadow(8px);
  }
}

.language-switcher {
  position: absolute;
  top: 20px;
  color: #ccc;
  cursor: pointer;
  text-transform: uppercase;

  &:hover {
    color: #fff;
  }
}

.floating-action,
.language-switcher {
  right: 56px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.main {
  flex: $golden-ratio;
  order: 2;
  padding-left: 25px;
  padding-right: 50px;
}

.aside {
  flex: 1;
  order: 1;
  text-align: right;
  padding-left: 50px;
  padding-right: 25px;
}

.content {
  .aside {
    em {
      font-style: normal;
      font-size: 0.8rem;
      color: #757575;
    }
  }
}

.page-footer {
  margin-top: 50px;
  padding: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #512da8;
  color: #ccc;
  border-bottom-left-radius: $page-radius;
  border-bottom-right-radius: $page-radius;

  a {
    color: #ccc;
    &:hover {
      color: #fff;
    }
  }
}

.material-icons {
  font-size: inherit;
}

.icon {
  width: 14px;
  height: 14px;
}

a {
  color: #673ab7;
  text-decoration: none;
}

h2 {
  margin-top: 50px;
  margin-bottom: 25px;
  text-transform: uppercase;
}

h3 {
  margin-top: 25px;
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: 400;
}

p {
  line-height: 1.5;
  margin: 0 0 10px;
}

strong {
  font-weight: 500;
}

small {
  color: #757575;
}

address {
  font-style: normal;
  line-height: 1.5;
}

@media only screen and (max-width: 1300px) {
  .page {
    margin: 50px;
    width: auto;
  }
}

@media only screen and (max-width: 900px) {
  .page {
    margin: 0;
  }

  .page,
  .page-header,
  .page-footer {
    border-radius: 0;
  }

  .page-footer {
    flex-direction: column;
    a {
      margin-top: 8px;
    }
  }

  .aside,
  .main {
    flex: 1 1 100%;
    text-align: left;
    padding: 0 50px;
  }
}

@media only screen and (max-width: 500px) {
  .title {
    font-size: 9.5vw;
  }

  .subtitle {
    font-size: 4.7vw;
  }

  .page-header,
  .page-footer {
    padding: 10vw;
  }

  .aside,
  .main {
    padding: 0 10vw;
  }

  .floating-action,
  .language-switcher {
    right: 24px;
  }

  h2 {
    margin-top: 10vw;
    margin-bottom: 5vw;
  }

  h3 {
    margin-top: 5vw;
  }

  p {
    margin-bottom: 2vw;
  }
}

@media only print {
  body {
    font-size: 11pt;
  }

  body,
  .page-header,
  .title,
  .subtitle,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a,
  small,
  .aside em,
  .page-footer,
  .page-footer a {
    color: #000;
    background: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  .floating-action,
  .language-switcher,
  .profiles {
    display: none;
  }

  .page {
    box-shadow: none;
    margin: 0;
    width: auto;
    max-width: auto;
  }

  .page,
  .page-header,
  .page-footer {
    border-radius: 0;
  }

  .page-header {
    padding-bottom: 0;
  }

  .main {
    padding-right: 0;
  }

  .aside {
    padding-left: 0;
  }

  .page-footer {
    justify-content: flex-start;
    padding: 0;

    a {
      margin-left: 0.5rem;
    }
  }

  .qr {
    display: inline-block;

    path {
      fill: black;
    }
  }
}
